body {
  margin: 0;
  padding: 0;
  font-family: Prompt;
  box-sizing: border-box;
  background-color: #f4fbff;
  padding-top: 60px;
  opacity: 0; /* ซ่อนเนื้อหาในตอนแรก */
  transform: translateY(20px); /* เลื่อนเนื้อหาเล็กน้อยลง */
  transition: opacity 1s ease, transform 3s ease; /* ตั้งค่าการเปลี่ยนแปลง */
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body.visible {
  opacity: 1; /* แสดงเนื้อหา */
  transform: translateY(0); /* คืนค่าการเลื่อน */
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bolder;
}

nav {
  background-color: #008956;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-con a {
  color: #f4fbff;
  text-decoration: none;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin-left: 2rem;
  cursor: pointer;
}

.menu li a {
  color: #f4fbff;
}

.menu li a:hover {
  color: black;
  text-decoration: underline solid 1px #008956;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #008956;
  margin: 7.5%;
}

h5 {
  font-size: 2rem;
  text-align: center;
  color: #008956;
  text-decoration: underline 3px #47c088;
}
h6 {
  font-size: 1rem;
  text-align: center;
  color: #47c088;
  box-sizing: border-box;
}
h6#sop {
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  color: #035715;
  box-sizing: border-box;
}

p {
  font-size: 18px;
  text-indent: 5%;
  color: #008956;
  box-sizing: border-box;
  margin-left: 3%;
  margin-right: 3%;
}
p#sop {
  font-size: 18px;
  text-align: center;
  align-items: center;
  color: #015c16;
  box-sizing: border-box;
}

img#profile {
  margin: 0 auto;
  width: 70%;
  display: block;
  margin-bottom: 10%;
}
img {
  width: 95%;
  margin: 0 auto;
  padding: 2px;
}

hr {
  border: 1px solid #008956;
  width: 80%;
}

.working-content {
  width: 100%;
}
.working-academic {
  display: flex;
  flex-direction: column; /* เรียงแบบคอลัมน์ */
  align-items: center; /* จัดให้อยู่กลาง */
  gap: 20px; /* ระยะห่างระหว่างคาร์ด */
}

/* From Uiverse.io by gharsh11032000 */
.card {
  position: relative;
  width: 300px;
  height: 180px;
  background-color: #008956;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #9effb6;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.sop {
  background-color: #c5ffe4;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  padding: 2px;
  margin: 0 auto;
  margin-bottom: 2%;
}


.btn-content {
  display: grid;
  place-items: center; 
}
.btn-content a{
  text-decoration: none;
  list-style: none;
  color:#015c16;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #c5ffe4;
  border: 3px solid #008956;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.btn::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #47c088;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.mygithub{
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.myqrcode{
  display: flex;
  flex: 1;
  max-width: 40%;
  margin-bottom: 2%;
}
.myqrcode img{
  width: 50%;
  box-sizing: border-box;
  border: solid 1px #015c16;
  border-radius: 20px;
  padding: 2% 3%;
}

.mystatement{
  display: flex;
  flex: 1;
  box-sizing: border-box;
  max-width: 60%;
  text-align: start;
  text-indent: 10px;
  padding: 2% 3%;
}
.mystatement p{
  font-size: 1.5rem;
  color: #015c16;
}
.mystatement a{
  font-size: 1.5rem;
  color: #015c16;
  text-decoration: underline;
  list-style: none;
}

.contact-me {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* จัดให้แต่ละฝั่งชิดบน */
  padding: 1rem;
  background-color: #008956;
  overflow-x: hidden;
}

.foot-left{
  flex: 1;
  max-width: 35%; /* ปรับให้แต่ละฝั่งใช้พื้นที่ไม่เกิน 45% ของความกว้างรวม */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column; /* จัดเรียงคอนเทนต์ในแนวตั้ง */
  justify-content: center; /* ให้อยู่กึ่งกลางแนวตั้งของกล่องตัวเอง */
}
.foot-right {
  flex: 1;
  max-width: 65%; /* ปรับให้แต่ละฝั่งใช้พื้นที่ไม่เกิน 45% ของความกว้างรวม */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column; /* จัดเรียงคอนเทนต์ในแนวตั้ง */
  justify-content: center; /* ให้อยู่กึ่งกลางแนวตั้งของกล่องตัวเอง */
}
.foot-left h6,
.foot-right h6 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #c5ffe4;
}
.foot-left p,
.foot-right p {
  font-size: 1.2rem;
  text-align: start;
  color: #c5ffe4;
}

.cardd {
  max-width: 75%;
  height: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 2%;
  gap: 1rem;
  box-sizing: border-box;
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #067cdd;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #d61515;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #0af531;
  transition-duration: 0.3s;
}
.containerFive:hover {
  background-color: #38049b;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width: 320px){
  .myqrcode img{
    display: none;
  }
  .mystatement{
    display: flex;
    flex: 1;
    max-width: 100%;
  }
  .mystatement p{
    font-size: 0.8rem;
  }
  .mystatement a{
    font-size: 1rem;
  }
  .foot-left h6,
.foot-right h6 {
  font-size: 1.2rem;
  margin: 0;
}
.foot-left p,
.foot-right p {
  font-size: 0.8rem;
  margin: 2% 5%;
}
.cardd {
  flex-direction: column;
  gap: 10px;
}
.socialContainer {
  width: 35px;
  height: 35px;
}
.foot-left{
  max-width: 60%;
}
.foot-right{
  max-width: 40%;
}
}

@media(max-width: 499px){
  .myqrcode img{
    display: none;
  }
  .foot-left h6,
.foot-right h6 {
  font-size: 1.4rem;
  margin: 0;
}
.foot-left p,
.foot-right p {
  font-size: 1rem;
  margin: 2% 5%;
}
.cardd {
  flex-direction: column;
  gap: 10px;
}
.socialContainer {
  width: 38px;
  height: 38px;
}
.foot-left{
  max-width: 60%;
}
.foot-right{
  max-width: 40%;
}
}

@media (max-width: 710px) {
  .logo {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }

  .logo a {
    font-size: 1.5rem;
    text-decoration: none;
    pointer-events: none;
  }

  .nav-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    border-top: 1px solid black;
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
    background-color: #47c088;
  }

  .menu-display {
    display: flex;
    position: fixed;
    margin: 65px;
  }

  .menu li {
    margin: 1rem 0;
    width: 100%;
  }

  .menu li a {
    display: block;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
  }

  .cardd {
    flex-direction: column; /* เปลี่ยนการจัดเรียงเป็นแนวตั้ง */
    gap: 15px; /* ลดช่องว่างระหว่างไอคอน */
  }
.socialContainer {
  width: 45px;
  height: 45px;
}
.foot-left{
  max-width: 60%;
}
.foot-right{
  max-width: 40%;
}
.myqrcode img{
  width: 200px;
  height: 200px;
  align-items: center;
  margin: 5% 5%;
}
}

@media (min-width: 600px) and (max-width: 710px) {
  .nav-con {
    height: inherit;
  }

  .logo {
    padding: 1rem;
  }

  .logo a {
    font-size: 2rem;
  }

  .menu li a {
    font-size: 1.3rem;
  }

  /*content*/
  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 20px;
  }

}

@media (min-width: 711px) {
  .nav-con {
    height: inherit;
  }
  .logo a {
    font-size: 1.5rem;
  }
  .menu li a {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 22px;
  }
  .working-academic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  
}

@media (max-width: 820px) {
  .cardd {
    flex-direction: column; /* เปลี่ยนการจัดเรียงเป็นแนวตั้ง */
    gap: 15px; /* ลดช่องว่างระหว่างไอคอน */
    width: auto; /* ใช้ auto เพื่อให้ฟิตพอดีกับเนื้อหาจริง */
    padding: 10px; /* ลด padding */
  }
  .socialContainer {
    width: 48px;
    height: 48px;
  }
  .foot-left{
    max-width: 60%;
  }
  .foot-right{
    max-width: 40%;
  }
  .myqrcode img{
    width: 200px;
    height: 200px;
    align-items: center;
    margin: 5% 5%;
  }
}


@media (min-width: 820px) and (max-width: 1023px) {
  .home-content {
    display: flex;
    /* ใช้ Flexbox สำหรับจัดเรียง */
    justify-content: space-between;
    /* เว้นระยะห่างระหว่างสองคอลัมน์ */
    align-items: center;
    /* จัดแนวให้ตรงกลางในแนวตั้ง */
    padding: 2 2rem;
  }

  .home-into {
    flex: 1;
    max-width: 58%;
    align-items: center;
    text-align: center;
  }

  .home-image {
    flex: 1;
    max-width: 42%;
    display: flex;
    justify-content: center;
  }

  .home-image img {
    width: 80%;
    height: auto;
  }
  .working-academic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .nav-con {
    height: inherit;
  }
  .logo a {
    font-size: 1.8rem;
  }
  .menu li a {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 2.6rem;
  }

  p {
    font-size: 20px;
  }
  .card {
    width: 350px;
    height: 230px;
  }
  .myqrcode img{
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 5% 5%;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .nav-con {
    height: inherit;
  }
  .logo a {
    font-size: 2rem;
  }
  .menu li a {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2.8rem;
  }

  p {
    font-size: 20px;
  }
  .home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .home-into {
    flex: 1;
    max-width: 50%;
    align-items: center;
    text-align: center;
  }

  .home-image {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .home-image img {
    width: 80%;
    height: auto;
  }
  .working-academic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
}

@media (min-width: 1240px) {
  .nav-con {
    height: inherit;
  }
  .logo a {
    font-size: 2rem;
  }
  .menu li a {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2.8rem;
  }

  p {
    font-size: 20px;
  }
  .home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .home-into {
    flex: 1;
    max-width: 50%;
    align-items: center;
    text-align: center;
  }

  .home-image {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .home-image img {
    width: 80%;
    height: auto;
  }
  .working-academic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .card {
    width: 370px;
    height: 250px;
  }
}
